<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
You can not update this property!
<br>
<br>
    <form action="/property/toupdate/{{user}}" method="post" >
        <button type="submit" class="button">Update</button>
    </form>

<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>