<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/property/create/{{user}}" method="post" >
        <input type="text" name="name"> Name of the Property<br>
        <input type="number" name="num_of_bedrooms"> Number of Bedrooms<br>
        <input type="number" name="num_of_rooms"> Number of Rooms<br>
        <button type="submit" class="button">Create</button>
    </form>

<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>