<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<b>{{property_created}}</b> created. <br>
<br>
{{property}}
<br>
<br>
    <form action="/property/create/{{user}}" method="post" >
        <input type="text" name="name"> Name of the Property<br>
        <input type="number" name="num_of_bedrooms"> Number of Bedrooms<br>
        <input type="number" name="num_of_rooms"> Number of Rooms<br>
        <button type="submit" class="button">Create</button>
    </form>
<br>
<br>
    <form action="/property/toupdate/{{user}}" method="post" >
        <button type="submit" class="button">Update</button> Update a Property
    </form>

    <form action="/property/todelete/{{user}}" method="post" >
        <button type="submit" class="button">Delete</button> Delete a Property
    </form>
<br>
<br>
    <form action="/logout/{{user}}" method="post" >
        <button type="submit" class="button">Logout</button>
    </form>


<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>