<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/property/delete/{{user}}" method="post" >
        <input type="text" name="property_id"> Property Id<br>
        <button type="submit" class="button">Delete</button>
    </form>

<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>