<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
{{property_id}} deleted.<br>
{{properties}}
<br>
<br>
    <form action="/property/delete/{{user}}" method="delete" >
        <input type="text" name="property_id"> Property Id<br>
        <button type="submit" class="button">Delete</button>
    </form>
<br>
<br>
    <form action="/property/tocreate/{{user}}" method="post" >
        <button type="submit" class="button">Create</button> Create a Property
    </form>

    <form action="/property/toupdate/{{user}}" method="post" >
        <button type="submit" class="button">Update</button> Update a Property
    </form>
<br>
<br>
    <form action="/logout/{{user}}" method="post" >
        <button type="submit" class="button">Logout</button>
    </form>

<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>