<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<b>{{user}}</b> is registered.
<br>
<br>
{{data}}
<br>
<br>
    <form action="/tologin" method="post" >
        <button type="submit" class="button">Login</button>
    </form>
    <form action="/" method="post" >
        <button type="submit" class="button">Main Page</button>
    </form>

<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>