<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<b>{{user}}</b> is logged in.
<br>
<br>
    <form action="/property/tocreate/{{user}}" method="post" >
        <button type="submit" class="button">Create</button> Create a Property
    </form>

    <form action="/property/toupdate/{{user}}" method="post" >
        <button type="submit" class="button">Update</button> Update a Property
    </form>

    <form action="/property/todelete/{{user}}" method="post" >
        <button type="submit" class="button">Delete</button> Delete a Property
    </form>

<br>
<br>
    <form action="/logout/{{user}}" method="post" >
        <button type="submit" class="button">Logout</button>
    </form>

<style>
.button {
height: 20px;
width: 100px;
}
</style>

</body>
</html>